[Unit]
Description=cassandra-pro

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run --rm --name cassandra-pro -p 9042:9042 cassandra
